<div class="mat-card-container">

    
    <mat-card id = "file-upload-mat-card" class = "mat-card">
        <mat-card-header>
     Dodawanie zdjęcia do galerii
        </mat-card-header>
     
        <mat-card-content>

            <mat-label>Plik ze zdjeciem</mat-label>
    <input type ="file" style = "display : none;" (change) = "onFileInputChage($event)"  #fileUpload>
    <button mat-mini-fab class = "buttons" (click) = "fileUpload.click()"><mat-icon>attach_file</mat-icon></button>
    <p *ngIf = "isChosenFileVisible">Wybrano plik: {{chosenFileName}}</p>



    <mat-form-field>
        <input matInput [(ngModel)] = "description">

    </mat-form-field>

           
<button class = "buttons" mat-raised-button (click)="sendFile()">Dodaj</button>

    </mat-card-content>
    </mat-card>
    

</div>


