<div class="mat-card-container">

    
    <mat-card id = "file-upload-mat-card" class = "mat-card">
        
        <mat-card-content class="divs-container">
            <div class="header-div"><h1>Dodawanie zdjęcia do galerii</h1></div>
            <div class="img-header-div header-divs"><span>Zdjęcie:</span></div>
            <div class ="img-div"><app-spinner [msg] = "msg1" *ngIf="spinnerDisplayed1"></app-spinner></div>
            <div class="description-header-div header-divs"><span>Opis zdjęcia:</span></div>
            <div class="description-div">
                <mat-form-field>
                    <input matInput [(ngModel)] = "description">
            
                </mat-form-field>
            </div>
            <div class="choosing-file-button-div"><button [disabled] = "spinnerDisplayed1" mat-mini-fab class = "buttons" (click) = "fileUpload.click()"><mat-icon>attach_file</mat-icon></button></div>
            
            <div class="upload-button-div">
                <app-spinner [msg] = "msg2" *ngIf = "spinnerDisplayed2"></app-spinner>
                <button [disabled] = "spinnerDisplayed2" class = "buttons" mat-raised-button (click)="sendFile()">Dodaj</button>
            </div>
            
    <input type ="file" style = "display : none;" (change) = "onFileInputChage($event)"  #fileUpload>
    


    <p *ngIf = "isChosenFileVisible">Wybrano plik: {{chosenFileName}}</p>



  

           


    </mat-card-content>
    </mat-card>
    

</div>


