


 <div class="container">
    
    
    <button class = "button" mat-raised-button (click)="addToGallery()"><mat-icon>add</mat-icon>Dodaj zdjęcie do galerii</button>
    <div *ngIf = "confVisible"  class = "confContainer">
        <app-spinner [msg] = "msg2" *ngIf = "spinnerDisplayed"></app-spinner>
        <app-confirmation [buttonDisabled] = "buttonDisabled" [msg] = "msg" buttonMsg = "Usuń" (confirmation) = "confirm($event)" (cancelation) = "cancel($event)"></app-confirmation>
    </div> 
    <div class = "image-navigation-container">
        <div class ="navigatotion-container">
            <div class = "navigation">
                <a class = "a-nav" (click) = "previous()">{{previousPlaceholder}}</a>
                <span class = "span-nav">{{currentPage}}</span>
                <a class = "a-nav"(click) = "next()">{{nextPlaceholder}}</a>
            </div>
            
      
            
        </div>
        <div class = "imageContainer" >
        
        
    
            <img (click) = "clickImage(image)" [matMenuTriggerFor]="menuRef" *ngFor="let image of listOfImages" class = "img"[src]="image.url" [alt] = "image.description"/>
            
                
        </div>

    </div>
 
    


</div>

<mat-menu #menuRef="matMenu">
    <button mat-menu-item (click) = "deleteImage()"> Usuń</button>
    <button mat-menu-item (click) = "changeDesciption()"> Zmień opis</button>
    
  </mat-menu>