
.button{

    position: relative;
    max-width: 300px;
}
.container{
position: relative;
top : 10px;

display: grid;
grid-template-columns: 1fr;
row-gap: 1em;



}
.confContainer{
    background-color: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 2em;
    opacity: 0.9;
    min-height : 50px;

    display: flex;
    justify-content: center;
    align-items: center;


}


.imageContainer{

    --numOfCol : 4;
    --heightOfImg : 500px;
    --gap : 15px;

    background-color: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 2em;
    opacity: 0.9;
    display: grid;
    grid-template-columns: repeat(var(--numOfCol), 1fr);
    grid-auto-rows: var(--heightOfImg);
    gap: var(--gap);
    
    height: 90%;
    
   
}



img {
    transition-property: transform, filter;
    transition-duration: 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;

    

}

img:hover{

    transform: scale(0.9);
    filter:grayscale(0.7);
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .imageContainer{

        --numOfCol : 3;
        --heightOfImg : 400px;


    }

    
}
@media screen and (max-width : 700px) {
    .imageContainer{

        --numOfCol : 2;
        --heightOfImg : 300px;


    }
    
}
@media screen and (max-width: 500px){

    .imageContainer{

        --numOfCol : 1;
        
    }
}