<div class = "formContainer">

    <mat-card id = "changePassword-mat-card" class = "mat-card">
        <mat-card-header> 
     
        </mat-card-header>
     
        <mat-card-content>
          

    <form [formGroup] = "formGroup" (ngSubmit) = "onSubmit()">

        <h2>Zmiana hasła</h2>

        
            
        

        <mat-form-field> 
            <input matInput formControlName = "username" placeholder="Email">
            <mat-error *ngIf = "checkIfUsernameIsAbsent()">Wymagany email</mat-error>
        </mat-form-field>
         <mat-form-field>
             <input [type] = "type" matInput formControlName = "oldPassword" placeholder="Stare hasło">
             <mat-icon style = "cursor: pointer;"(click) = "changeVisibility()" *ngIf = "isOldPasswordHidden" matSuffix>visibility</mat-icon>
             <mat-icon style = "cursor: pointer;" (click) = "changeVisibility()" *ngIf = "!isOldPasswordHidden" matSuffix>visibility_off</mat-icon>
             <mat-error *ngIf = "checkIfOldPasswordIsAbsent()">Wymagane hasło</mat-error>
            
     
        </mat-form-field>

        <mat-form-field>
            <input [type] = "type" matInput formControlName = "newPassword" placeholder="Nowe hasło">
            <mat-icon style = "cursor: pointer;"(click) = "changeVisibility()" *ngIf = "isNewPasswordHidden" matSuffix>visibility</mat-icon>
            <mat-icon style = "cursor: pointer;" (click) = "changeVisibility()" *ngIf = "!isNewPasswordHidden" matSuffix>visibility_off</mat-icon>
            <mat-error *ngIf = "checkIfNewPasswordIsAbsent()">Wymagane hasło</mat-error>
           
    
       </mat-form-field>
     
    
      
        
    
        <button class = "buttons" mat-raised-button type = "submit" [disabled] = "isFormNotValid()">Zmień hasło</button>

        

    
    
    </form>

    
</mat-card-content>
  
</mat-card>
    </div>
