<div class="mat-card-container">
    <mat-card id="order-list-mat-card" class="my-mat-card">
        <mat-card-header>
            <mat-card-title>Wszystkie zamówienia</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div class = "filter">
            
                <form [formGroup]="filterFormGroup" (ngSubmit)="getFiilteredAndSortedOrders()">

                    <h2>Filtrowanie zamówień</h2>
                    <app-spinner [msg]="spinnerMsg" *ngIf="isSpinnerDisplayed"></app-spinner>





                    <mat-form-field *ngIf = "isViewDisplayedForAdmin">
                        <mat-label>Nazwa użytkownika</mat-label>
                        <input matInput formControlName="nickname" placeholder="Nazwa użytkownika">
                    </mat-form-field>
                    <mat-form-field *ngIf = "isViewDisplayedForAdmin">
                        <mat-label>Adres e-mail użutkownika</mat-label>
                        <input matInput formControlName="username" placeholder="Adres e-mail użutkownika">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="fromEventDate" (click)="fromEventDatePicker.open()"
                            [matDatepicker]="fromEventDatePicker" placeholder="Data uroczystosci od:">
                        <mat-datepicker-toggle matSuffix [for]="fromEventDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #fromEventDatePicker>
                        </mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="upToEventDate" (click)="upToEventDatePicker.open()"
                            [matDatepicker]="upToEventDatePicker" placeholder="Data uroczystosci do:">
                        <mat-datepicker-toggle matSuffix [for]="upToEventDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #upToEventDatePicker>
                        </mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="fromCreationDate" (click)="fromCreationDatePicker.open()"
                            [matDatepicker]="fromCreationDatePicker" placeholder="Data zamówienia od:">
                        <mat-datepicker-toggle matSuffix [for]="fromCreationDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #fromCreationDatePicker>
                        </mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="upToCreationDate" (click)="upToCreationDatePicker.open()"
                            [matDatepicker]="upToCreationDatePicker" placeholder="Data zamówienia do:">
                        <mat-datepicker-toggle matSuffix [for]="upToCreationDatePicker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #upToCreationDatePicker>
                        </mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Status zamówienia</mat-label>
                        <mat-select formControlName=orderStatus>
                            <mat-option *ngFor="let option of orderStatusOptions" [value]="option.status">{{option.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Fragment opisu zamówienia</mat-label>
                        <input matInput formControlName="description" placeholder="Fragment opisu zamówienia">
                    </mat-form-field>
                    <mat-form-field *ngIf = "isViewDisplayedForAdmin">
                        <mat-label>Numer telefonu klienta</mat-label>
                        <input matInput formControlName="phoneNumber" placeholder="Numer telefonu klienta">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Typ produktu</mat-label>
                        <input matInput formControlName="typeOfProduct" placeholder="Typ produktu">
                    </mat-form-field>
              
                    <button class = "filterConfirm" mat-raised-button type ="submit" >Filtruj zamówienia</button>
                    <button class = "filterCancel" mat-raised-button (click) = "cancelFilter()">Usuń filtry</button>

             </form>

            </div> 
            <div class = filter>
                <form [formGroup]="sortingFormGroup" (ngSubmit)="getFiilteredAndSortedOrders()">
                    <h2>Sortowanie zamówień</h2>
                    <mat-form-field>
                        <mat-label>Sortuj według: </mat-label>
                        <mat-select formControlName=sortingParameter>
                            <mat-option *ngFor="let sortingParameter of sortingParameters" [value]="sortingParameter.databaseParameter">{{sortingParameter.displayedName}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  
                        <mat-radio-group formControlName = sortingDirection aria-label = "Kierunek sortowania">
                            <mat-radio-button value = "ASC">Rosnąco</mat-radio-button>
                            <mat-radio-button value = "DESC">Malejąco</mat-radio-button>
                        </mat-radio-group>
                    
                    
                    <button class = "filterConfirm" mat-raised-button type = "submit">Sortuj zamówienia</button>
                    <button class = "filterCancel" mat-raised-button (click) = "cancelSorting()">Przywróć domyślne</button>
                
                </form> 

            </div>

            <div class ="navigatotion-container">
                <div class = "navigation">
                    <a class = "a-nav" (click) = "previous()">{{previousPlaceholder}}</a>
                    <span class = "span-nav">{{currentPage}}</span>
                    <a class = "a-nav"(click) = "next()">{{nextPlaceholder}}</a>
                </div>
                
          
                
            </div>



            <table mat-table [dataSource]="orders">
     

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef>E-mail użytkownika</th>
                    <td mat-cell *matCellDef="let order"> {{order.user.username}}</td>

                </ng-container>

                <ng-container matColumnDef="dateOfOrder">
                    <th mat-header-cell *matHeaderCellDef>Data złożenia zamówienia</th>
                    <td mat-cell *matCellDef="let order"> {{order.creationDate}}</td>

                </ng-container>

                <ng-container matColumnDef="dateOfEvent">
                    <th mat-header-cell *matHeaderCellDef>Data uroczystości</th>
                    <td mat-cell *matCellDef="let order"> {{order.eventDate}}</td>

                </ng-container>
                <ng-container matColumnDef="typeOfProduct">
                    <th mat-header-cell *matHeaderCellDef>Typ produktu</th>
                    <td mat-cell *matCellDef="let order"> {{order.typeOfProduct}}</td>

                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status zamówienia</th>
                    <td [class]="checkStatus(order)" mat-cell *matCellDef="let order"> {{order.orderStatus}}</td>

                </ng-container>
   
                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef></th>

                    <td mat-cell *matCellDef="let order"><span (click)="navigateToDetails(order.id)"
                            class="details">Szczegóły zamówienia</span></td>
                </ng-container>

                <tr class="rows" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="rows" mat-row *matRowDef="let order; columns : displayedColumns;"></tr>



            </table>

        </mat-card-content>



    </mat-card>
</div>