

table{

    width: 100%;
    

}

.details{

    text-decoration-line: underline;
    padding: 1em;

}
.details:hover{

    cursor: pointer;
}
.green{
 
    background-color: #a0c270;
    padding-left: 1em;

}
.grey{
    background-color: #c2bebc;
    padding-left: 1em;

}
.yellow{
    background-color: #ffc14d;
    padding-left: 1em;

}
.my-mat-card{

    margin: 1em;
    opacity: 0.9;
}
.mat-card-container{
position: relative;
top : 10px;


}

.rows{

   
    
}

.button-container{

    display: flex;
    justify-content: space-between;
}
.filter{

    padding : 2em;
    box-sizing: border-box;
    background-color: #c2bebc;
    margin : 2em;
}
.filterConfirm{
    color: white; 
    background-color: #857c7a;

}
.filterCancel{
    color: white; 
    background-color: #800000;
}

