<div class = "container">

    <mat-card id = "mat-card" class = "mat-card">
        <mat-card-header> 
     
        </mat-card-header>
      
        <mat-card-content class = "content">

            <app-spinner msg = "Wysyłanie żądania..." *ngIf = "isSpinnerDisplayed"></app-spinner>

                <mat-label>
                    Podaj e-mail użytkownika, dla którego chcesz zmienić hasło
                </mat-label>
                <mat-form-field> 
                    <input matInput [(ngModel)]  = "username" placeholder="Wpisz swój e-mail">
                </mat-form-field>
                <app-confirmation msg = "Czy na pewno chcesz zmienić hasło?" buttonMsg = "Zmień hasło" (confirmation) = "confirmPasswordRestoration($event)" (cancelation) = "cancelRestoration($event)"></app-confirmation>
            
        </mat-card-content>
    </mat-card>
</div>
