




<div class = "formContainer">

    <mat-card id ="order-mat-card" class = "mat-card">
        <mat-card-header>
     
        </mat-card-header>
     
        <mat-card-content>
          

    <form [formGroup] = "formGroup" (ngSubmit) = "onSubmit()">

        <h2>Edycja zamowienia</h2>

        
          
        

        <mat-form-field >
            <input matInput formControlName = "phoneNumber" placeholder="Numer telefonu">
            
        </mat-form-field>
        <mat-form-field>
            <mat-label>Typ produktu</mat-label>
            <mat-select formControlName = typeOfProduct>
                <mat-option *ngFor = "let type of typeOfProductList" [value] = "type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Wybierz smaki</mat-label>
            <mat-select formControlName = setOfTastes multiple>
                <mat-option *ngFor = "let taste of arrayOfTastes" [value] = "taste">{{taste}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ilość porcji</mat-label>
            <mat-select formControlName = numberOfServings >
                <mat-option *ngFor = "let number of numberOfServingsSet" [value] = "number">{{number}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field >

            <input matInput formControlName="eventDate" (click) = "datePicker.open()"[matDatepicker]="datePicker" placeholder="Data uroczystosci">
          
            <mat-datepicker-toggle matSuffix [for]="datePicker">
          
            </mat-datepicker-toggle>
          
            <mat-datepicker #datePicker>
          
            </mat-datepicker>
          
          </mat-form-field>

        <mat-form-field >
            <input matInput formControlName = "description" placeholder="Dodatkowe informacje">
            
        </mat-form-field>

          
              <mat-label *ngIf = "!isFileInfoDisplayed">Plik z przykladowym zdjeciem</mat-label>
              <mat-label *ngIf = "isFileInfoDisplayed">Wybrano plik: {{chosenFile.name}}</mat-label>
            <input type ="file" style = "display : none;" (change) = "fileUploadChange($event)" #fileUpload>

            <button style ="margin-bottom: 5%;" mat-mini-fab class = "buttons" (click) = "fileUpload.click()"><mat-icon>attach_file</mat-icon></button>
        
         

    
     
    
     
        
    
        <button class = "buttons" mat-raised-button type = "submit" >Zloz zamowienie</button>

       
    
    
    </form>

    
</mat-card-content>
  
</mat-card>
    </div>
