<main class="main">
  <router-outlet></router-outlet>
</main>

<div [class]="curtainClass" (click)="closeNavigation()"></div>

<div class="toolbar1">
  <a class="menu-items" (click)="toggleNavigation()">Menu</a>
  <a class="menu-items" *ngIf="!isUserLoggedIn" (click)="onNavigateClick('login')">Zaloguj</a>
  <a class="menu-items" *ngIf="isUserLoggedIn"  (click)="onLogoutButtonClick()">Wyloguj</a>
</div>

<div class="toolbar2">
  <a class="menu-items" (click)="onNavigateClick('order')">Złóż zamówienie</a>
  <a class="menu-items" (click)="onNavigateClick('start')">O nas</a>
  <a class="menu-items" (click)="onNavigateClick('gallery')">Galeria</a>
  <a class="menu-items" (click)="onNavigateClick('register')">Załóż konto</a>
  <a class="menu-items">Kontakt</a>
</div>

<div [class]="navigationClass">
  <a class="nav-item" *ngIf = "isAdminLoggedIn" [matMenuTriggerFor]="menuRefAdmin">Panel administratora</a>
  <a class="nav-item" *ngIf = "isUserLoggedIn" [matMenuTriggerFor]="menuRefUser">Moje konto</a>
  <a class="nav-item" (click)="onNavigateClick('order')">Złóż zamówienie</a>
  <a class="nav-item" (click)="onNavigateClick('start')">O nas</a>
  <a class="nav-item" (click)="onNavigateClick('gallery')">Galeria</a>
  <a class="nav-item" (click)="onNavigateClick('register')">Załóż konto</a>
  <a class="nav-item">Kontakt</a>
</div>

<mat-menu #menuRefAdmin>
  <button mat-menu-item (click)="onNavigateClick('ordersList/admin')"> Obsługa zamówień </button>
  <button mat-menu-item (click)="onNavigateClick('user_list')"> Zarządzanie użytkownikami</button>
  <button mat-menu-item (click)="onNavigateClick('galleryEdition')"> Edycja galerii</button>
  <button mat-menu-item (click)="onNavigateClick('settings')"> Ustawienia</button>
</mat-menu>

<mat-menu #menuRefUser>
  <button mat-menu-item (click)="onNavigateClick('userSelfEdition')"> Edycja danych kontaktowych </button>
  <button mat-menu-item (click)="onNavigateClick('passwordChange')"> Zmiana hasła</button>
  <button mat-menu-item (click)="onNavigateClick('ordersList/user')"> Moje zamówienia</button>
</mat-menu>














<!--   
<mat-toolbar class = "mattool1">
    
  <div>
    <span class = "toolbarButtons"  (click) = "changeSidenavState()">Menu</span>
    </div>
    <div>
    <span *ngIf ="!isUserLoggedIn" class = "toolbarButtons" (click) = "onNavigateClick('login')">Logowanie</span> 
    <span *ngIf ="isUserLoggedIn" class = "toolbarButtons" (click) = "onLogoutButtonClick()">Wyloguj</span> 
    </div>
    
</mat-toolbar>
<mat-toolbar class = "mattool2">
  <span class = "toolbarButtons" (click) = "onNavigateClick('order')"> Złóż zamówienie</span>
  <span class = "toolbarButtons"  (click) = "onNavigateClick('start')">O nas</span>
  <span class = "toolbarButtons" (click) = "onNavigateClick('gallery')">Galeria</span>
  <span class = "toolbarButtons" (click) = "onNavigateClick('register')">Załóż konto</span>
  <span class = "toolbarButtons">Kontakt</span>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav mode = "side" [opened] = "sidenavOpened">
      <div class = "sideNavContainer">  
        <span class = "toolbarButtons"  [matMenuTriggerFor]="menuRef">Panel administratora</span>
        <span class = "toolbarButtons">Moje konto</span>
      </div>
    </mat-sidenav>

    

   
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>

-->

