<div class="mat-card-container">
<mat-card id = "my-mat-card" class = "my-mat-card">
    <mat-card-header>
        <mat-card-title><h1>Szczegóły zamówienia</h1></mat-card-title>
    </mat-card-header>
<mat-card-content>
    <h3 class = "paragraph-header">Status zamówienia</h3>
    <p [class] = "statusStyle">{{order.orderStatus}}</p>
    <h3 *ngIf = "isViewDisplayedForAdmin" class = "paragraph-header">Numer telefonu klienta</h3>
    <p *ngIf = "isViewDisplayedForAdmin">{{order.phoneNumber}}</p>
    <h3 class = "paragraph-header">Data uroczystości</h3>
    <p>{{order.eventDate}}</p>
    <h3 class = "paragraph-header">Typ produktu</h3>
    <p>{{order.typeOfProduct}}</p>
    <h3 class = "paragraph-header">Smaki</h3>
    
    <ul>
        <li *ngFor = "let taste of order.setOfTastes">{{taste}}</li>
    </ul>
    <h3 class = "paragraph-header">Ilość porcji</h3>
    <p>{{order.numberOfServings}}</p>
    <h3 class = "paragraph-header">Dodatkowe informacje</h3>
    <p>{{order.description}}</p>
    <h3 class = "paragraph-header">Data złożenia zamówienia</h3>
    <p>{{creationDate}}</p>
    <h3 *ngIf = "isViewDisplayedForAdmin"class = "paragraph-header">Zmiana statusu zamówienia</h3>
    <div *ngIf = "statusChangeConfirmConfig.visible" class = "confContainer">
        <app-confirmation [buttonMsg] = "statusChangeConfirmConfig.buttonMsg" [msg] = "statusChangeConfirmConfig.msg" (confirmation) = "confirmStat($event)" (cancelation) = "cancelStat($event)"></app-confirmation>
    </div>
    <div id = "statusChangeResponseId">
       <div class = "responseMessage">
        <p>
            {{statusChangeResponse}}
        </p>
       </div>
        
    </div>
    
    <button *ngIf = "order.orderStatus !== 'COMPLETED' && isViewDisplayedForAdmin " (click) = "updateStat('COMPLETED')" style = "color: white; background-color: #607d36;" mat-raised-button>Zrealizowane</button>
    <button *ngIf = "order.orderStatus !== 'PROCESSED' && isViewDisplayedForAdmin" (click) = "updateStat('PROCESSED')" mat-raised-button style = "color: white; background-color: #857c7a;" >W trakcie realizacji</button>
    <button *ngIf = "order.orderStatus !== 'NEW' && isViewDisplayedForAdmin" (click) = "updateStat('NEW')" mat-raised-button style = "color: white; background-color: #FFA500;">Nowe</button>
    
    <h3 *ngIf = "isViewDisplayedForAdmin" class = "paragraph-header">Usuwanie zamówienia</h3>
    <app-spinner [msg] = "msg" *ngIf = "isSpinnerDisplayed"></app-spinner>
    <div *ngIf = "deleteConfirmConfig.visible" class = "confContainer">
        <app-confirmation  [buttonMsg] = "deleteConfirmConfig.buttonMsg" [msg] = "deleteConfirmConfig.msg" (confirmation) = "confirmDel($event)" (cancelation) = "cancelDel($event)"></app-confirmation>
    </div>



    <button (click) = "deleteOrder()" *ngIf = "isViewDisplayedForAdmin" style = "color: white; background-color: #800000;" mat-raised-button>Usuń</button>
    <h3 class = "paragraph-header">Przykładowe zdjęcie</h3>
    <img [src] = "getImageSrc()">
</mat-card-content>
</mat-card>
</div>